<!DOCTYPE html>
<html>
<head>
    <title>Online Exam Proctoring System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="home-container">
    <div class="home-card">
        <h1>Online Exam Proctoring System</h1>
        <p>Select Login Type</p>

        <div class="home-buttons">
            <a href="/teacher" class="modern-btn">Teacher Login</a>
            <a href="/student" class="modern-btn secondary-btn">Student Login</a>
        </div>
    </div>
</div>

</body>
</html>